# Each enabled section runs as an independent procd instance.
# Use either a GOST YAML/JSON file, command-line listen/forward entries, or both.

config instance 'example_file'
	option enabled '0'
	option config '/etc/gost/example.yaml'
	option user 'root'
	option group 'root'
	option respawn '1'

config instance 'example_cli'
	option enabled '0'
	list listen 'socks5://:1080'
	# list forward 'http://upstream.example:8080'
	# option api ':18080'
	# option metrics ':19000'
	# option debug '1'
	# list arg '-some-flag'
	# list arg 'some-value'
